.card{
    /* border-radius: 24px !important; */
    border: solid rgb(44, 44, 44) 2px !important;
}
.secard:hover{
    margin-top: -15px;
    transition: .5s;
    background-color: #727272;
    color: white !important;
    user-select: none;
    border: #f10c45 solid 2px !important;
}
.img{
    /* border-top-right-radius: 23px !important;
    border-top-left-radius: 23px !important; */
    border-bottom: 5px solid rgb(48, 48, 48);
    /* border-radius: 21px !important; */
}
.view{
    background-color: #f10c45 !important;
    color: white !important;
}
p{
    font-weight: 600;
}
body{
    background-color: rgb(44, 45, 45);
}
.about{
    color: white !important;
}
.pink{
    color: #f10c45 !important;
}
.love{
    color: #f10c45 !important;
}